table {
  width: 100%;

  th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
  }

  td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;

    &:first-child {
      width: 5%;
      text-align: center;
    }
    &:last-child {
      width: 5%;
      text-align: center;
    }
  }
}
