.content-title {
  margin: 5% auto;
}

.cont-title {
  text-align: center;
}

.cont-sub {
    text-align: center;
    margin-top: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table-content {
  padding: 0px 5em;
}
