<div class="content-title">
    <h1 class="cont-title">DATA</h1>
    <p class="cont-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
<div class="content">
    <div class="col-md-8">
        <app-table [participations]="participations"></app-table>
    </div>
    <div class="col-md-4">
        <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                [options]="chartOptions">
            </canvas>
        </div>
    </div>
</div>