<div class="topbar">
    <section class="content">
        <form [formGroup]="participationForm">
            <div class="row mr-3">
                <input-container errorMessage="Campo Obrigatório!">
                    <input type="text" placeholder="First name" class="form-control" formControlName="firstName">
                </input-container>
                <input-container errorMessage="Campo Obrigatório!">
                    <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">
                </input-container>
                <input-container errorMessage="Campo Obrigatório!">
                    <input type="text" placeholder="Participation" class="form-control" formControlName="participation">
                </input-container>
            </div>
        </form>
        <div class="row flex-row-reverse">
            <button (click)="subForm(participationForm.value)" [disabled]="!participationForm.valid">SEND</button>
        </div>
    </section>
</div>